= render 'toppage/header'

.main
  .main__box
    = render 'left-memu'

    .my-main
      .logout
        .logout__box
          = link_to destroy_user_session_path, method: :delete, class:".logout__box__bm" do 
            %p.logout__box__bm__btn ログアウト

= render 'toppage/footer'

