= link_to new_product_path, class:"exhibit", data: {"turbolinks" => false} do
  .exhibit__box
    .exhibit__box__text
      出品する
    = image_tag("icon/icon_camera.png", class: ".exhibit__box__image", width: "50px")
