#account-page.account-page
  .account-page__inner1.clearfix
    .page__header
      %h1
        = link_to image_tag("logo/logo.png", class:"header__logo"), root_path
    .page__main
      %p.pagenum 2 / 2
      %h2.title  本人情報入力
      .page__main__forms
        = render 'addressform'

    .account-page__footer
      %nav
        %p プライバシーポリシー
        %p メルカリ利用規約
        %p 特定商取引に関する表記
      .account-page__footer__logo
        = link_to image_tag('logo/logo-white.png', class:"footer__logo"), root_path
        %p
        ©Merrcari, inc